@charset "UTF-8";
/* -----Header----- */
.TituloPrincipal {
  align-items: flex;
  float: left;
  margin-left: 10%;
  margin-top: 20px;
}

.Logo {
  margin-right: 30px;
}

body {
  /* -----Footer------ */
  /* ----- Todas las páginas ----- */
  /* ----- Media ----- */
  /* ----- Guias ----- */
  /*  Fotos de Perfil - Guias*/
  /* Contenido de Guias*/
  /* Imagenes de Guias */
  /* Relatos */
  /* Portal */
}
body header {
  background-image: url(../img/Background-Header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4em;
  border: 1px solid black;
}
body header h1 {
  padding: 1em;
  margin-left: 10%;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 250%;
  font-weight: 5px;
  color: black;
  text-shadow: rgb(235, 223, 119) -2px 0px 12px;
}
body header ul {
  background-color: rgb(190, 109, 72);
  border: 3px solid black;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 7%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 110%;
  color: black;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}
body header ul li {
  padding: 1em;
  margin-right: 4%;
  margin-left: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
body header ul li a {
  text-decoration: none;
  color: black;
  text-shadow: rgb(253, 253, 253) -2px 0px 12px;
}
body header ul li a:hover {
  text-shadow: rgb(235, 223, 119) -2px 0px 12px;
}
@media (max-width: 600px) {
  body .Botonera {
    flex-direction: column;
    align-items: start;
  }
  body .Botonera .BotonesHeader {
    padding: 0;
  }
}
body footer .LinkSection {
  background-color: rgb(190, 109, 72);
  border: 3px solid black;
  border-radius: 10px;
  width: 100%;
  margin-left: 5%;
  margin-bottom: 7%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 100%;
  color: black;
  padding: 1em;
  border-radius: 0;
  border-left: none;
  border-right: none;
  text-align: center;
  margin-left: 0;
  margin-bottom: 0;
}
body footer .LinkSection p {
  margin-bottom: 1em;
  font-weight: 600;
}
body footer .LinkSection ul li {
  list-style-type: none;
}
body footer .LinkSection ul li a {
  text-decoration: none;
  color: black;
}
body footer .LinkSection ul li a:hover {
  text-shadow: rgb(253, 253, 253) 0px 0px 10px;
}
body footer .DisclaimerSection {
  padding: 0.2em;
  position: relative;
  bottom: 0;
  background-color: rgb(63, 62, 62);
  width: 100%;
  text-align: center;
  font-size: 75%;
  color: white;
}
body main {
  /* ----- Index - Quienes Somos ----- */
}
body main section {
  background-color: rgb(190, 109, 72);
  border: 3px solid black;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 7%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100;
  color: black;
  padding: 1em;
  text-align: center;
}
@keyframes Title-shine {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: rgb(255, 255, 255) -2px 0px 12px;
  }
}
body main h2 {
  animation: Title-shine 3s infinite;
  animation-direction: alternate;
}
body main .PresentationBackground {
  border: none;
  border-radius: 0;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 10em;
  background-image: url(../img/BackgroundSection\ -\ Karyon_FightingPose_JadeForest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border: 1px solid black;
}
body main .Presentation {
  background-color: rgb(190, 109, 72);
  border: 3px solid black;
  border-radius: 10px;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 7%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100;
  color: black;
  margin-left: 45%;
  padding: 2em;
}
body main .IntroRaidingBackground {
  border: none;
  border-radius: 0;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 10em;
  background-image: url(../img/BackgroundSection\ -\ Faddin_Incinerate_AhnKahet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border: 1px solid black;
}
body main .IntroRaiding {
  background-color: rgb(190, 109, 72);
  border: 3px solid black;
  border-radius: 10px;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 7%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100;
  color: black;
  padding: 2em;
}
body main .IntroRoleplayBackground {
  border: none;
  border-radius: 0;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 10em;
  background-image: url(../img/BackgroundSection\ -\ Reltor_SummonLightning_Dornogal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  border: 1px solid black;
}
body main .IntroRoleplay {
  background-color: rgb(190, 109, 72);
  border: 3px solid black;
  border-radius: 10px;
  width: 50%;
  margin-left: 5%;
  margin-bottom: 7%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 100;
  color: black;
  margin-left: 45%;
  padding: 2em;
}
@media (max-width: 1000px) {
  body main .Presentation {
    background-color: rgb(190, 109, 72);
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 7%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 100;
    color: black;
  }
  body main .IntroRaiding {
    background-color: rgb(190, 109, 72);
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 7%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 100;
    color: black;
  }
  body main .IntroRoleplay {
    background-color: rgb(190, 109, 72);
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 7%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 100;
    color: black;
  }
}
@media (max-width: 800px) {
  body main .Presentation {
    background-color: rgb(190, 109, 72);
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 7%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 80%;
    color: black;
  }
  body main .IntroRaiding {
    background-color: rgb(190, 109, 72);
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 7%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 80%;
    color: black;
  }
  body main .IntroRoleplay {
    background-color: rgb(190, 109, 72);
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 7%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 80%;
    color: black;
  }
  body main .PresentationBackground {
    padding: 1em;
  }
  body main .IntroRaidingBackground {
    padding: 1em;
  }
  body main .IntroRoleplayBackground {
    padding: 1em;
  }
}
body .Media {
  background-image: url(../img/Background-Media.jpg);
  width: 100%;
  padding: 5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
body .MediaContainer {
  padding: 0em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
body .MediaContainer img {
  padding: 1em;
}
body .MediaImg:hover {
  transform: scale(1.5);
  border: 2px solid black;
  padding: 0em;
  transition-duration: 1s;
}
@media (max-width: 1600px) {
  body .MediaContainer img {
    padding: 0.8em;
  }
}
@media (max-width: 900px) {
  body .MediaContainer img {
    padding: 0.5em;
  }
}
@media (max-width: 800px) {
  body .Media {
    padding-top: 5em;
    padding-left: 0em;
    padding-right: 0em;
  }
  body .MediaContainer {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  body .MediaContainer img {
    padding: 0.5em;
  }
  body .MediaImg {
    width: 100%;
  }
}
@media (max-width: 500px) {
  body .MediaContainer img {
    padding: 0.2em;
  }
}
body .Guias {
  background-image: url(../img/Background-Guias.jpg);
  width: 100%;
  padding: 5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-left: 0;
}
body .ListaGuias {
  padding: 3em;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-auto-rows: 150px;
  row-gap: 8px;
  column-gap: 8px;
  position: relative;
  text-align: center;
}
body .ProfilePic_Karyon {
  background-color: white;
  background-image: url(../img/ProfilePic-Karyon.png);
  background-size: 146px 146px;
  border: 2px solid black;
  background-size: cover;
}
body .ProfilePic_Celduin {
  background-color: white;
  background-image: url(../img/ProfilePic-Celduin.png);
  background-size: 146px 146px;
  border: 2px solid black;
}
body .GuiaAutor {
  color: black;
}
body .ItemGuia {
  background-color: rgb(216, 139, 104);
  border: 2px solid black;
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  color: black;
}
body .ItemGuia ul {
  list-style: none;
}
body .GuideTitle {
  list-style-type: none;
  font-size: 150%;
  font-weight: 10px;
}
body .GuideLink {
  list-style-type: none;
  font-size: 120%;
  font-weight: 10px;
}
body .GuideImg-UndermineRaid {
  list-style-type: none;
  border: 2px solid black;
  background-image: url(../img/Flyer_Undermine.png);
  height: 150px;
  width: 450px;
  background-size: cover;
  align-items: center;
  justify-self: center;
}
body .GuideImg-TWWS02Overview {
  list-style-type: none;
  border: 2px solid black;
  background-image: url(../img/Flyer-TheWarWithin.png);
  height: 150px;
  width: 450px;
  background-size: cover;
  align-items: center;
  justify-self: center;
}
body .GuideImg-TWWS02BrewmasterGuide {
  list-style-type: none;
  border: 2px solid black;
  background-image: url(../img/Flyer-Brewmaster.png);
  height: 150px;
  width: 450px;
  background-size: cover;
  align-items: center;
  justify-self: center;
}
body .GuideImg-TWWS02ArmsGuide {
  list-style-type: none;
  border: 2px solid black;
  background-image: url(../img/Flyer-ArmsWarrior.png);
  height: 150px;
  width: 450px;
  background-size: cover;
  align-items: center;
  justify-self: center;
}
body .GuideImg-TWWS02PvPGuide {
  list-style-type: none;
  border: 2px solid black;
  background-image: url(../img/Flyer-PvPGuide.png);
  height: 150px;
  width: 450px;
  background-size: cover;
  align-items: center;
  justify-self: center;
}
@media (max-width: 1100px) {
  body .Guias {
    padding-left: 0em;
    padding-right: 0em;
  }
  body .ListaGuias {
    padding: 2em;
  }
  body .ItemGuia {
    padding: 1em;
  }
}
@media (max-width: 800px) {
  body .GuideImg-UndermineRaid {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer_Undermine.png);
    height: 150px;
    width: 300px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02Overview {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-TheWarWithin.png);
    height: 150px;
    width: 300px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02BrewmasterGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-Brewmaster.png);
    height: 150px;
    width: 300px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02ArmsGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-ArmsWarrior.png);
    height: 150px;
    width: 300px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02PvPGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-PvPGuide.png);
    height: 150px;
    width: 300px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
}
@media (max-width: 680px) {
  body .ListaGuias {
    grid-auto-rows: 150px 280px 150px 150px;
  }
  body .GuideImg-UndermineRaid {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer_Undermine.png);
    height: 150px;
    width: 200px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02Overview {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-TheWarWithin.png);
    height: 150px;
    width: 200px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02BrewmasterGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-Brewmaster.png);
    height: 150px;
    width: 200px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02ArmsGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-ArmsWarrior.png);
    height: 150px;
    width: 200px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02PvPGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-PvPGuide.png);
    height: 150px;
    width: 200px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
}
@media (max-width: 540px) {
  body .ListaGuias {
    grid-template-columns: 1fr;
  }
  body .ProfilePic_Karyon {
    background-size: cover;
    max-width: 146px;
    margin-left: 30%;
  }
  body .ProfilePic_Celduin {
    background-size: cover;
    max-width: 146px;
    margin-left: 30%;
  }
}
@media (max-width: 400px) {
  body .ProfilePic_Karyon {
    margin-left: 15%;
  }
  body .ProfilePic_Celduin {
    margin-left: 15%;
  }
  body .GuideImg-UndermineRaid {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer_Undermine.png);
    height: 150px;
    width: 150px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02Overview {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-TheWarWithin.png);
    height: 150px;
    width: 150px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02BrewmasterGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-Brewmaster.png);
    height: 150px;
    width: 150px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02ArmsGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-ArmsWarrior.png);
    height: 150px;
    width: 150px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
  body .GuideImg-TWWS02PvPGuide {
    list-style-type: none;
    border: 2px solid black;
    background-image: url(../img/Flyer-PvPGuide.png);
    height: 150px;
    width: 150px;
    background-size: cover;
    align-items: center;
    justify-self: center;
  }
}
body .Relatos {
  background-image: url(../img/Background-Relatos_1.jpg);
  width: 100%;
  padding: 5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-left: 0;
}
body .RelatosSection {
  padding: 3em;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-auto-rows: 150px;
  row-gap: 8px;
  column-gap: 8px;
  position: relative;
  text-align: center;
}
body .RelatoTitulo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
}
body .ProfilePic {
  background-color: white;
  border: 2px solid black;
}
body .Relato {
  background-color: rgb(216, 139, 104);
  border: 2px solid black;
  grid-row: span 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  color: rgb(0, 0, 0);
}
@media (max-width: 800px) {
  body .Relatos {
    padding-left: 0em;
    padding-right: 0em;
  }
  body .RelatosSection {
    padding-top: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-auto-rows: 150px;
    row-gap: 8px;
    column-gap: 8px;
    position: relative;
    text-align: center;
  }
}
body .Portal {
  background-image: url(../img/Background-Portal_1.jpg);
  width: 100%;
  padding: 5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-left: 0;
}
body .ContentSection {
  padding: 3em;
  text-align: center;
}
body iframe {
  overflow: auto;
}
body .RaidRosterTWW {
  border: 2px solid black;
  overflow: auto;
}
@media (max-width: 800px) {
  body .Portal {
    padding-left: 0em;
    padding-right: 0em;
  }
  body .ContentSection {
    padding: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
