*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
/* -----Todas las Paginas----- */

/* Header */
  .TituloPrincipal {
    align-items: flex;
    float:left;
    margin-left: 10%;
    margin-top: 20px;
  }
  .Logo {
   margin-right: 30px;
  }


  h1 {
    padding: 1em;
    margin-left: 10%;
    
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 250%;
    font-weight: 5px;
    color: black;
    text-shadow: rgb(235, 223, 119) -2px 0px 12px;
  }

  .header {
    
    width:90%;
    background-color:  rgb(139, 80, 53);
    border: 3px solid black;
    border-radius:10px;

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-bottom: 7%;
    margin-left: 5%;

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 110%;
  }

    .header .BotonesHeader {
     padding: 1em;
     margin-right: 4%;
     margin-left: 4%;
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;
     justify-content: flex-start;
     align-items: center;
    }

      .header .BotonesHeader a {
       text-decoration: none;
       color:black;
       text-shadow: rgb(253, 253, 253) -2px 0px 12px;
      }

      .header .BotonesHeader a:hover {
       text-shadow: rgb(235, 223, 119) -2px 0px 12px;
      }

    @media (max-width: 600px) {
        .header {
             flex-direction: column;
             align-items:start;
      }  
      .BotonesHeader {
           padding: 0;
      }
    }
    

/* Footer */

  footer {
  padding: 0.2em;
  position:relative;
  bottom: 0;
  background-color: rgb(63, 62, 62);
  width:100%;

  text-align: center;  
  font-size: 75%;
  color:white;
  }

/* -----Index----- */
  .TextSection {
  width:90%;
  padding: 3em;
  background-color:  rgb(139, 80, 53);
  border: 3px solid black;
  margin-bottom: 7%;
  margin-left: 5%;
  border-radius:10px;

  text-align: center;
  font-family: "Roboto", sans-serif;
  color:black;
  }

  h2 {
  margin-bottom: 1%;
  }

    .TextSection p {
    font-size: 100%;
    max-width: 80%;
    margin-left: 10%;
    }

  .LinkSection {
  width:90%;
  padding: 2em;
  background-color:  rgb(139, 80, 53);
  border: 3px solid black;
  margin-bottom: 7%;
  margin-left: 5%;
  border-radius:10px;

  font-family: "Roboto", sans-serif;
  font-weight:500;
  text-align: center;
  color:black;
  }

    .LinkSection .LinkList {
    list-style-type:none;
    }

    .LinkSection p {
    margin-bottom: 1em;
    font-weight: 600;
    }

      .LinkSection .LinkList a {
      text-decoration:none;
      color:black;
      }

      .LinkSection .LinkList a:hover {
      text-shadow: rgb(253, 253, 253) 0px 0px 10px;
      }

/* -----Media----- */
  .MediaContainer {
      width:90%;
      padding: 3em;
      background-color:  rgb(139, 80, 53);
      border: 3px solid black;
      border-radius:10px;

      text-align: center;
      font-family: "Roboto", sans-serif;
        
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      align-items: center;

      margin-bottom: 7%;
      margin-left: 5%;
  }
       .MediaContainer img {
       padding: 1em;
       }
  
  @media (max-width: 600px) {
       .MediaContainer {
        padding: 1em;
       }
       .MediaContainer img {
        padding: 0.1em;
       }
  }

/* -----Guias----- */
  .ListaGuias {
      width:90%;
      padding: 3em;
      background-color:  rgb(139, 80, 53);
      border: 3px solid black;
      border-radius:10px;
      min-width: 800px;

      display:grid;
      grid-template-columns: 150px 9fr;
      grid-auto-rows: 150px;
      row-gap: 8px;
      column-gap: 8px;
      position:relative;

      text-align: center;
      margin-bottom: 7%;
      margin-left: 5%;
      font-family: "Roboto", sans-serif;
      }
  
      .ProfilePic {
        background-color: white;
        border: 2px solid black;
       }
      .ItemGuia {
        background-color: rgb(216, 139, 104); 
        border: 2px solid black;
        grid-row: span 2;
          
        display:flex;
        align-items: center;
        justify-content: center;

        font-size: 100%;
        color:rgb(0, 0, 0);      
       }
            .GuideTitle {
              list-style-type:none;
              font-size: 150%;
              font-weight: 10px;
            }
            .GuideLink {
              list-style-type:none;
              font-size: 120%;
              font-weight: 10px;
            }
            .GuideImg {
              list-style-type:none;
              border:2px solid black;
            }
       
      .GuiaAutor {
        color:black;
       }

/* Portal */

  h2 {
    color:black;
  }

  .ContentSection {
      width:90%;
      padding: 3em;
      background-color:  rgb(139, 80, 53);
      border: 3px solid black;
      border-radius:10px;

      text-align: center;
      margin-bottom: 7%;
      margin-left: 5%;
      font-family: "Roboto", sans-serif;
  }
  iframe {
    overflow:auto;
  }
    .RaidRosterTWW {
      border: 2px solid black;
      overflow:auto;
    }

/* Relatos */
  .RelatosSection {
      width:90%;
      padding: 3em;
      background-color:  rgb(139, 80, 53);
      border: 3px solid black;
      border-radius:10px;
      min-width: 800px;

      display:grid;
      grid-template-columns: 150px 9fr;
      grid-auto-rows: 150px;
      row-gap: 8px;
      column-gap: 8px;
      position:relative;

      text-align: center;
      margin-bottom: 7%;
      margin-left: 5%;
      font-family: "Roboto", sans-serif;
      }
        .RelatoTitulo {
        display:flex;
        align-items: center;
        justify-content: center;
        color:black;
        font-weight:600;
        }
  
        .ProfilePic {
        background-color: white;
        border: 2px solid black;
        }
      
       .Relato {
        background-color: rgb(216, 139, 104); 
        border: 2px solid black;
        grid-row: span 4;
          
        display:flex;
        align-items: center;
        justify-content: center;

        font-size: 100%;
        color:rgb(0, 0, 0);  
        }