@mixin container-style($width, $font-weight, $font-size){
    background-color: rgb(139, 80, 53);
    border: 3px solid black;
    border-radius:10px;
    width: $width;
    margin-left: 5%;  
    margin-bottom: 7%;  

    font-family: "Roboto", sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    color:black;
}


/* Header */
.TituloPrincipal {
    align-items: flex;
    float:left;
    margin-left: 10%;
    margin-top: 20px;
}
.Logo {
    margin-right: 30px;
}

body {
    header {
            background-image: url(../img/Background-Header.jpg);
            background-repeat:no-repeat;
            background-size:cover;
            padding-bottom: 4em;
            border: 1px solid black;
            h1 {
            padding: 1em;
            margin-left: 10%;
    
            font-family: "Roboto", sans-serif;
            font-weight: 800;
            font-size: 250%;
            font-weight: 5px;
            color: black;
            text-shadow: rgb(235, 223, 119) -2px 0px 12px;

            }
            ul {
            @include container-style(90%, 600, 110%);
            margin-bottom:0;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;

            li{
                padding: 1em;
                margin-right: 4%;
                margin-left: 4%;
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content: flex-start;
                align-items: center;
                a {
                    text-decoration: none;
                    color:black;
                    text-shadow: rgb(253, 253, 253) -2px 0px 12px;
                }
                a:hover {
                    text-shadow: rgb(235, 223, 119) -2px 0px 12px;
                }

            }
        }
    }
    @media (max-width: 600px) {
        .header {
            flex-direction: column;
             align-items:start;
            .BotonesHeader {
                    padding: 0;
                }
            }
        }


/* Footer */
    footer {
        .LinkSection {
              @include container-style(100%,500,100%);
              padding: 1em;
              border-radius:0;
              border-left:none;
              border-right:none;
              text-align: center;
              margin-left:0;
              margin-bottom: 0;
            p {
                margin-bottom: 1em;
                font-weight: 600;
                }
  
            ul {
                li {
                list-style-type:none;
                
                  a {
                    text-decoration:none;
                    color:black;
                  }
                  a:hover {
                    text-shadow: rgb(253, 253, 253) 0px 0px 10px;
                  }
              }
            }
        }
        .DisclaimerSection {
            padding: 0.2em;
            position:relative;
            bottom: 0;
            background-color: rgb(63, 62, 62);
            width:100%;

            text-align: center;  
            font-size: 75%;
            color:white;
        }
    }

/* Index - Quienes Somos */
    main {
        section {
            @include container-style (90%, 400,100);
            padding: 1em;
            text-align:center ;
            }

@mixin page-background($url){
            border:none;
            border-radius:0;
            margin-left:0;
            margin-bottom:0;
            width:100%;
            padding:10em;

            background-image: $url;
            background-repeat:no-repeat;
            background-size:cover;
            background-position:bottom;
}


        .PresentationBackground {
            @include page-background (url(../img/BackgroundSection\ -\ Karyon_FightingPose_JadeForest.jpg));
            border: 1px solid black;
        }
             .Presentation {
             @include container-style (50%, 400,100);
             margin-left: 45%;
             padding: 2em;
             }
        .IntroRaidingBackground {
            @include page-background (url(../img/BackgroundSection\ -\ Faddin_Incinerate_AhnKahet.jpg));
            border: 1px solid black;
        }
             .IntroRaiding {
             @include container-style (50%, 400,100);
             padding: 2em;
             }
        .IntroRoleplayBackground {
            @include page-background (url(../img/BackgroundSection\ -\ Reltor_SummonLightning_Dornogal.jpg));
            border: 1px solid black;
        }

             .IntroRoleplay {
             @include container-style (50%, 400, 100);
             margin-left: 45%;
             padding: 2em;
        }

        @media (max-width: 1000px) {
            .Presentation {
            @include container-style (90%,400,100)
            }
            .IntroRaiding {
            @include container-style (90%,400,100)
            }
            .IntroRoleplay {
            @include container-style (90%,400,100)
            }
        }

        @media (max-width: 800px) {
            .Presentation {
            @include container-style (90%,400,80%)
            }
            .IntroRaiding {
            @include container-style (90%,400,80%)
            }
            .IntroRoleplay {
            @include container-style (90%,400,80%)
            }     
            .PresentationBackground {
                padding: 1em;
            }       
            .IntroRaidingBackground {
                padding:1em;
            }
            .IntroRoleplayBackground {
                padding:1em;
            }

        }
    }

/* Media */
    .Media {
    background-image: url(../img/Background-Media.jpg);
    width:100%;
    padding:5em;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
        
    }
         .MediaContainer {
         padding: 0em;
        
         display:flex;
         flex-direction:row;
         flex-wrap:wrap;
         align-items: center;
         }
         .MediaContainer img {
         padding: 1em;
         }

    @media (max-width: 1600px) {
        .MediaContainer img {
        padding: 0.8em;
        }
    }
    
    @media (max-width: 900px) {
        .MediaContainer img {
            padding: 0.5em;
        }
    }

    @media (max-width: 800px) {
        .Media {
        padding-top:5em;
        padding-left:0em;
        padding-right:0em;
        }
       .MediaContainer {
        margin-left:0;
        margin-right:0;
        padding:0;

        }
       .MediaContainer img {
        padding: 0.1em;
       }
    }

/* Guias */
    .Guias {
    background-image: url(../img/Background-Guias.jpg);
    width:100%;
    padding:5em;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    margin-left:0;
    }

    .ListaGuias {
         padding: 3em;
         min-width: 800px;

         display:grid;
         grid-template-columns: 150px 9fr;
         grid-auto-rows: 150px;
         row-gap: 8px;
         column-gap: 8px;
         position:relative;

         text-align: center;
         }

         .ProfilePic {
         background-color: white;
         border: 2px solid black;
         }
         .ItemGuia {
         background-color: rgb(216, 139, 104); 
         border: 2px solid black;
         grid-row: span 2;
          
         display:flex;
         align-items: center;
         justify-content: center;

         font-size: 100%;
         color:rgb(0, 0, 0);      
         }
            .GuideTitle {
              list-style-type:none;
              font-size: 150%;
              font-weight: 10px;
             }
            .GuideLink {
              list-style-type:none;
              font-size: 120%;
              font-weight: 10px;
             }
            .GuideImg {
              list-style-type:none;
              border:2px solid black;
             }
       
         .GuiaAutor {
         color:black;
         }

/* Relatos */
    .Relatos {
    background-image: url(../img/Background-Relatos_1.jpg);
    width:100%;
    padding:5em;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    margin-left:0;
     }

    .RelatosSection {
      padding: 3em;
      min-width: 800px;

      display:grid;
      grid-template-columns: 150px 9fr;
      grid-auto-rows: 150px;
      row-gap: 8px;
      column-gap: 8px;
      position:relative;

      text-align: center;
      }
         .RelatoTitulo {
         display:flex;
         align-items: center;
         justify-content: center;
         color:black;
         font-weight:600;
         }
  
         .ProfilePic {
         background-color: white;
         border: 2px solid black;
         }
      
         .Relato {
         background-color: rgb(216, 139, 104); 
         border: 2px solid black;
         grid-row: span 4;
          
         display:flex;
         align-items: center;
         justify-content: center;

         font-size: 100%;
         color:rgb(0, 0, 0);  
         }
    

/* Portal */
    .Portal {
    background-image: url(../img/Background-Portal_1.jpg);
    width:100%;
    padding:5em;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
    margin-left:0;
     }
     .ContentSection {
      padding: 3em;
      text-align: center;
     }
         iframe {
         overflow:auto;
        }
         .RaidRosterTWW {
         border: 2px solid black;
         overflow:auto;
         }

}